<!-- Navigation -->
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" style="font-family: coco;" href="#">Oregon Zoo</a>
    </div>
  </div>
</nav>

<div class="section-a">
  <div class="container-a">
    <h1>Welcome to the Oregon Zoo</h1>
    <h3>The 64-acre Oregon Zoo is located in Portland, a city and surrounding metropolitan area of 2.26 million people. Attendance in 2011 exceeded 1.6 million.</h3>
    <button type="button" style="font-family: coco; margin-top:17%;" class="btn btn-default"><a href="#animals">Learn more</a></button>
  </div>
</div>
<!-- Page Content -->
<div class="container" id="animals">


  <!-- Team Members Row -->
  <div class="row" style="margin-top: 50px;">
    <animal-list [childAnimalList]="masterAnimalList" (clickSender)="editAnimal($event)"></animal-list>
  </div>
</div>



<!-- MODALS -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <new-animal (newAnimalSender)="addAnimal($event)"></new-animal>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <edit-animal [childSelectedAnimal]="selectedAnimal" (doneButtonClickedSender)="finishedEditing()"></edit-animal>
        <button type="button" class="btn btn-default" (click)="doneButtonClicked()" data-dismiss="modal">Add</button>
      </div>
    </div>
  </div>
</div>
